<ul class="app-social-list">
  <li><a href="https://www.facebook.com/thebeardedtek" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
  </li>
  <li><a href="https://www.instagram.com/thebeardedtek/" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
  </li>
  <li><a href="https://www.linkedin.com/company/thebeardedtek" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
  </li>
  <li><a href="https://twitter.com/thebeardedtek" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  </li>
</ul>
