#processing-form-modal{position: absolute; background-color: rgba(0,0,0,.85); z-index:99999; display:flex; align-items: center; align-content: center; justify-content: center; height:100%; width:100%;}
.processing-form-modal-content{background-color: rgba(245,245,245,1); padding:4% 3%;}
.processing-form-modal-content .mat-progress-spinner circle, .processing-form-modal-content .mat-spinner circle{stroke:#1c8de0 !important}
.mat-dialog-content-alt{justify-content: center; display:flex;}
