.login-header{font-size: 1.3em; margin-bottom: 15px;}
.login-input{width:100%;}
.login-button{width:70%;}
.mat-form-field{width:100%;}
.recover-password{margin:8px 0;}
.errors{margin-bottom: 8px; padding-right: 30%;}
.avatar img{max-width: 80%; height: auto;}
.sidebar-spinner{max-width: 60px;}

#side-bar-bg{background: url('./../../../../assets/sidebar/dallas.jpg') no-repeat center top; background-size: 100% auto;}
.client-img{width: 170px; height: auto; margin: auto; margin-top: 150px; border: 10px solid white; background-color: #FFF;}
.client-card{text-align: center;}
.client-img-div{position: relative; display: flex; align-items: center; align-content: center; justify-content: center; width: 180px; margin: auto; height: 250px; overflow: hidden; margin-bottom: 20px;}

.main-side-bar-courses{margin-top: 30px; margin-bottom: 30px;}

.courses-header{margin-bottom: 30px; font-size: 1.5em; text-align: center; margin-right: 12px;}
.course-flex{display: flex; align-items: center; justify-content: start; margin-bottom: 30px;}
.course-img{height: 50px; width: 50px; background-color:#1c8de0; border-radius: 50%; margin-right: 12px;}
.course-title{font-size: 1.3em;}
.course-status{font-size:.7em; color: #FFF; padding:5px 7px; margin-top: 5px;}
.in-progress{background-color:#1c8de0;}
.suggested{background-color: orange;}
.recently-completed{background-color: green;}
.aside-view-all{margin-top: 20px; margin-bottom: 20px;}
.login-title{margin-bottom: 20px; text-transform: uppercase;}
.spinner-pic{margin: 20px 0;}

/* .login-modal{padding:100px; display: flex; align-content: center; align-items: center; justify-content: center; position: fixed; top:0; left:0; z-index:9999; height: 100vh; width: 100vw; background-color: rgba(0,0,0,.4);} */
.login-modal{display: flex; align-content: center; align-items: center; justify-content: center; width:100%}
.modal-article{max-width: 465px; background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,.3);}
.logout-article{max-width: 375px;}
.modal-div{padding: 8%;}
.modal-div-logout{border-bottom: 5px solid red;}
.login-header{margin-bottom: 30px; font-size: 1.5em; text-align: center;}
.login-input{}
.close-box{cursor: pointer;}
.login-button{width:100%; margin: 15px 0;}
.no-hover{cursor: not-allowed;}
.signin-with{margin-bottom: 25px;}
.signin-icons{margin-bottom: 20px;}
.signin-icons div{background-color: white; padding: 10px 40px; box-shadow: 0 0 10px 0 rgba(0,0,0,.3); border-radius: 50px; margin: 0 5px;}
.signin-icons i{color:#1c8de0;}
.signin-icons div:hover{cursor: pointer; color:#FFF; background-color: #1c8de0;}
.signin-icons div:hover i{color:#FFF;}
.logout-confirm{font-size: 1.5em; margin-bottom: 20px;}
.logout-buttons{text-align: center;}
.logout-buttons i {padding-right: 8px;}
.logout-buttons button:first-of-type{margin-right: 20px;}
.mat-form-field{display:block;}
.exit-modal:hover{cursor: pointer;}

@media screen and (min-width:1241px){

}

@media screen and (max-width:1240px){

}

@media screen and (max-width:1035px){

}

@media screen and (max-width:780px){

}

@media screen and (max-width:750px){

}

@media screen and (max-width:680px){

}

@media screen and (max-width:650px){

}

@media screen and (max-width:450px){

}

@media screen and (max-width:380px){

}
