    <section id="portfolio-section" class="container-fluid">
    <div class="portfolio-section-row row relative">
      <svg width="100%" height="100%" class="absolute portfolio-svg">
          <rect width="100%" height="100%" style="fill:rgba(0,0,0,.76 );stroke-width:3;stroke:rgb(0,0,0)"/>
        </svg>

        <div class="portfolio-text align-center aveNext-bold">
          <div class="aveNext-bold">
            WEBSITES. <span class="ave-md">APPS</span>. GRAPHICS. <span class="ave-md">PRINT</span>. DIGITAL MARKETING. <span class="ave-md">SOCIAL MEDIA</span>. BLOGGING.
            <span class="portfolio-signup-span">
              <button class="portfolio-signup-btn default-btn-color" id="portfolio-signup-btn"><a routerLink="/signup">Start Your Project</a></button>
            </span>
          </div>
        </div>
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-center">

      <div class="portfolio-flex">
          <div class="portfolio-col">
            <ul>
                <li class="portfolio-item pb-30">
                  <a href="#" class="portfolio-link">
                    <picture *ngIf="isInView===true">
                        <source type="image/webp" srcset="{{base}}/assets/portfolio/project9.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                        <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project9.jpg" alt="Image for thebeardedtek portfolio gallery">
                      </picture>
                  </a>
                </li>

                <li class="portfolio-item pb-30">
                    <a href="#" class="portfolio-link">
                      <picture>
                          <source type="image/webp" srcset="{{base}}/assets/portfolio/project16.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                          <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project16.jpg" alt="Image for thebeardedtek portfolio gallery">
                        </picture>
                    </a>
                  </li>

                <li class="portfolio-item pb-30">
                    <a href="#" class="portfolio-link">
                      <picture>
                          <source type="image/webp" srcset="{{base}}/assets/portfolio/project3.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                          <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project3.jpg" alt="Image for thebeardedtek portfolio gallery">
                        </picture>
                    </a>
                  </li>
              </ul>
          </div>
          <div class="portfolio-col">
            <ul>
                <li class="portfolio-item pb-40">
                    <a href="#" class="portfolio-link">
                      <picture>
                          <source type="image/webp" srcset="{{base}}/assets/portfolio/project6.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                          <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project6.jpg" alt="Image for thebeardedtek portfolio gallery">
                        </picture>
                    </a>
                  </li>

                <li class="portfolio-item pb-50">
                    <a href="#" class="portfolio-link">
                      <picture>
                          <source type="image/webp" srcset="{{base}}/assets/portfolio/project15.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                          <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project15.jpg" alt="Image for thebeardedtek portfolio gallery">
                        </picture>
                    </a>
                  </li>
            </ul>
          </div>
          <div class="portfolio-col">
            <ul>
              <li class="portfolio-item pb-40">
                    <a href="#" class="portfolio-link">
                      <picture>
                          <source type="image/webp" srcset="{{base}}/assets/portfolio/project10.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                          <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project10.jpg" alt="Image for thebeardedtek portfolio gallery">
                        </picture>
                    </a>
                  </li>
              <li class="portfolio-item pb-50">
                      <a href="#" class="portfolio-link">
                        <picture>
                            <source type="image/webp" srcset="{{base}}/assets/portfolio/project11.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                            <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project11.jpg" alt="Image for thebeardedtek portfolio gallery">
                          </picture>
                      </a>
                    </li>
            </ul>
          </div>
          <div class="portfolio-col">
            <ul>
              <li class="portfolio-item pb-30">
                    <a href="#" class="portfolio-link">
                      <picture>
                          <source type="image/webp" srcset="{{base}}/assets/portfolio/project7.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                          <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project7.jpg" alt="Image for thebeardedtek portfolio gallery">
                        </picture>
                    </a>
                  </li>
              <li class="portfolio-item pb-40">
                      <a href="#" class="portfolio-link">
                        <picture>
                            <source type="image/webp" srcset="{{base}}/assets/portfolio/project13.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                            <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project13.jpg" alt="Image for thebeardedtek portfolio gallery">
                          </picture>
                      </a>
                    </li>
            </ul>
          </div>
          <div class="portfolio-col">
            <ul>
              <li class="portfolio-item pb-30">
                    <a href="#" class="portfolio-link">
                      <picture>
                          <source type="image/webp" srcset="{{base}}/assets/portfolio/project8.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                          <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project8.jpg" alt="Image for thebeardedtek portfolio gallery">
                        </picture>
                    </a>
                  </li>
              <li class="portfolio-item pb-50">
                      <a href="#" class="portfolio-link">
                        <picture>
                            <source type="image/webp" srcset="{{base}}/assets/portfolio/project14.webp" [className]="isInView === true ? 'animated zoomIn': ''" alt="Image for thebeardedtek portfolio gallery">
                            <img type="image/jpeg" [className]="isInView === true ? 'animated zoomIn': ''" src="{{base}}/assets/portfolio/project14.jpg" alt="Image for thebeardedtek portfolio gallery">
                          </picture>
                      </a>
                    </li>
            </ul>
          </div>
        </div>


    </div>

  </div>

</section>
