.questions-title{font-size: 2em; font-family: aveNext-demi, sans-serif; margin-bottom: 30px;}
.pricing-qa{margin-bottom: 20px;}
.pricing-question{font-family: aveNext-demi, sans-serif; margin-bottom: 10px; font-size: 1.2em;}
.pricing-answer{font-family: aveNext-reg, sans-serif;}

@media screen and (min-width:1241px){

}

@media screen and (max-width:1240px){

}

@media screen and (max-width:1035px){

}

@media screen and (max-width:780px){

}

@media screen and (max-width:750px){

}

@media screen and (max-width:680px){

}

@media screen and (max-width:650px){

}

@media screen and (max-width:450px){

}

@media screen and (max-width:380px){

}
