<section id="pricing-questions-section" class="pricing-questions-section container">
<article class="row">
  <div class="col col-sm-12 col-md-10 col-lg-10 col-xl-10 offset-md-1 offset-lg-1">

      <section class="container-fluid">
        <article class="row">
          <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="questions-title">General Questions</div>

            <div class="pricing-qa">
            <div class="pricing-question">Is there a setup fee?</div>
            <div class="pricing-answer">Absolutely Not! There are ZERO setup fees.</div>
          </div>

          <div class="pricing-qa">
            <div class="pricing-question">Can I cancel my account at any time?</div>
            <div class="pricing-answer">Yes. Please read the <a routerLink="/terms">terms and conditions</a> for more information.</div>
          </div>

          <div class="pricing-qa">
            <div class="pricing-question">Am I required to sign a contract?</div>
            <div class="pricing-answer">Nope! Each plan is month to month *unless you select a flat fee (non-maintenance) plan.</div>
          </div>

          <div class="pricing-qa">
            <div class="pricing-question">Can I change my plan later on?</div>
            <div class="pricing-answer">Absolutely! You can upgrade or downgrade your plan at any time.</div>
          </div>


          <div class="pricing-qa">
            <div class="pricing-question">Can I use my own domain name?</div>
            <div class="pricing-answer">Yes you may! You can choose to either register a domain name with us or bring your own. Your choice.</div>
          </div>

          </div>

          <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="questions-title">&nbsp;</div>

              <div class="pricing-qa">
                <div class="pricing-question">What are your bandwidth fees?</div>
                <div class="pricing-answer">There are no bandwidth restrictions for your website.</div>
              </div>

              <div class="pricing-qa">
                <div class="pricing-question">Do I need a web host?</div>
                <div class="pricing-answer">You do not need a web host. Similar to domains, you are more than welcomed to use your personal host.</div>
              </div>

              <div class="pricing-qa">
                <div class="pricing-question">Which Content Management Systems do you offer?</div>
                <div class="pricing-answer">You have the option of selecting virtually any CMS you woud like to work with. The most popular solutions include Wordpress, Joomla, Magento, and Shopify. A CMS is not a requirement. We also build websites with Pure JavaScript, Angular, React, and Vue.</div>
              </div>
          </div>
        </article>
      </section>
    </div>
  </article>
</section>
