<div id="app-social" class="app-social"><app-social></app-social></div>
<app-page-header></app-page-header>

<!-- <section id="page-template-section" class="page-template-section relative container-fluid">
  <article id="page-template-article" class="page-template-article row">
    <div id="page-template-col" class="page-template-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <picture class="page-template-header-img">
        <source srcset="./../../../../assets/security/security.webp" type="image/webp" alt="Security">
        <img src="./../../../../assets/security/security.jpg" alt="Security">
      </picture>

      <div id="page-template-page-header" class="page-template-page-header">

        <div class="page-header-wrapper">

          <div class="page-header-title aveNext-bold">
            Sell Safely & Securely Online

          </div>

          <div class="page-header-subtitle aveNext-reg">
            Secure your website/app with daily security scans
          </div>

          <div class="page-header-cta">
            <button class="btn default-btn" routerLink="/demo">
              <span class="aveNext-reg">Schedule a Demo</span>
            </button>

            <button class="btn default-btn-color" routerLink="/portfolio">
              <span class="aveNext-reg">View Portfolio</span>
            </button>
          </div>

          <div class="page-header-disclosure aveNext-reg">
            *Protection from malicious attacks against your small business
          </div>

        </div>

      </div>
    </div>
  </article>
</section>
<div class="section-divider"></div> -->

<section id="page-body" class="page-body container-fluid pt-80">

<div class="row page-body-row">
  <div class="page-body-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="page-body-title-container" class="page-body-title-container">

          <div class="page-body-title aveNext-bold">Secure your <span class="color aveNext-bold">website/app</span>  today!</div>
      </div>

      <div class="page-body-subtext aveNext-reg align-center">Web applications remain the most common source of breaches in 2020.</div>


      <div class="social-flex">
        <span><a href="https://www.facebook.com/thebeardedtek" target="_blank"><i class="fa fa-facebook"></i></a></span>
        <span><a href="https://www.instagram.com/thebeardedtek/" target="_blank"><i class="fa fa-instagram"></i></a></span>
        <span><a href="https://www.linkedin.com/company/thebeardedtek" target="_blank"><i class="fa fa-linkedin"></i></a></span>
        <span><a href="https://twitter.com/thebeardedtek" target="_blank"><i class="fa fa-twitter"></i></a></span>
    </div>


  </div>
</div>
</section>

<section id="responsive-design1" class="responsive-design responsive-design1 container-fluid">
<div class="responsive-design-row row">
  <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<img src="{{base}}/assets/security/reputation.jpg" class="responsive-design-img" alt="Reputation">
</div>
<div class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- assure your clients</div>
    <div class="page-body-section-title aveNext-bold">Protect Your Reputation</div>
    <div class="page-body-section-subtitle ave-lt">All websites, and the networks connected to your web servers, are prone to hacks (security risks). In most cases, the business owner can repair the server, restore files, and continue with their day-to-day. Unfortunately, the most damaging consequence of such attacks is restoring a consumer's faith in your company's ability to protect their sensitive data. As a result, your business may lose loyal clients and potential clients by way of poor online reviews and word of mouth.
    </div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a routerLink="/portfolio" class="default-btn-color ave-md">View Portfolio</a></span>
    </div>
</div>
</div>
</section>

<section id="responsive-design2" class="responsive-design responsive-design2 container-fluid">
<div class="responsive-design-row row">
<div id="responsive-design-col-desktop" class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- stay up to date</div>
    <div class="page-body-section-title aveNext-bold">Ensure Data Integrity</div>
    <div class="page-body-section-subtitle ave-lt">Web technologies change frequently and randomly throughout the year. Not unlike your mobile phone, software used to create your website must be upgraded periodically to ensure data integrity and application security. In many cases, security scans reveal old code that leave businesses and consumers open to vicious attacks.
</div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="default-btn-color ave-md">Schedule a Demo</a></span>
    </div>
</div>
 <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-center">
<img src="{{base}}/assets/security/data-integrity.jpg" class="responsive-design-img responsive-design-img2" alt="Data Integrity">
</div>

<div id="responsive-design-col-mobile" class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- stay up to date</div>
    <div class="page-body-section-title aveNext-bold">Ensure Data Integrity</div>
    <div class="page-body-section-subtitle ave-lt">Web technologies change frequently and randomly throughout the year. Not unlike your mobile phone, software used to create your website must be upgraded periodically to ensure data integrity and application security. In many cases, security scans reveal old code that leave businesses and consumers open to vicious attacks.
</div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="default-btn-color ave-md">Schedule a Demo</a></span>
    </div>
</div>

</div>
</section>


<section id="responsive-design3" class="responsive-design responsive-design3 container-fluid">
<div class="responsive-design-row row">
   <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-center">
<img src="{{base}}/assets/security/sell-confidentally.jpg" class="responsive-design-img responsive-design-img3" alt="Sell Confidentally">
</div>
<div class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- guaranteed payouts</div>
    <div class="page-body-section-title aveNext-bold">Sell Confidentally and Securely</div>
    <div class="page-body-section-subtitle ave-lt">Unlike traditional bank transfers that can take several days, Instant Payouts are deposited and available in just minutes. Funds are verified securely so you can process and ship orders immediately. Minimize chargebacks by utilizing Stripe's effective, built-in fraud tools.
</div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a routerLink="/pricing" class="default-btn-color ave-md">View Pricing</a></span>
    </div>
</div>
</div>
</section>

<!-- <div id="app-pricing-widget" class="app-pricing-widget">
  <app-pricing-widget></app-pricing-widget>
</div> -->



<app-pricing-widget></app-pricing-widget>
<!-- <app-competitor-table></app-competitor-table> -->
