<section id="page-hero-section" class="page-hero-section container-fluid">
  <div class="page-hero-row row">
  <div class="page-hero-col page-hero-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

    <div class="page-hero-pretitle ave-md">---- Network and Application Security</div>

    <div class="page-hero-title ave-hv">Sell Safely &amp; Securely</div>

    <div class="page-hero-subtitle ave-md">secure your website/app with daily security scans and protection from malicious attacks against your small business</div>

    <div class="page-hero-cta">

      <span class="page-hero-span"><a routerLink="/demo" routerLinkActive="activeRouterLink" class="ave-md default-btn-color">Schedule a Demo</a></span>

      <!-- <a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="ave-md default-btn-color">Schedule a Demo</a></span> -->
      <span class="page-hero-span"><a routerLink="/security" class="ave-md default-btn-black">View All Security Solutions</a></span>


    </div>
</div>

<div class="page-hero-col page-hero-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<img src="{{base}}/assets/security/admin-panel2.png" class="page-hero-img" alt="Admin Panel">
</div>

</div>
</section>
