
<section id="page-hero-section" class="page-hero-section container-fluid">
  <div class="page-hero-row row">
  <div class="page-hero-col page-hero-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

    <div class="page-hero-pretitle ave-md">---- all solutions</div>

    <div class="page-hero-title ave-hv">Web/App Design</div>

    <div class="page-hero-subtitle ave-md">spend time selling, I'll handle the rest</div>

    <div class="page-hero-cta">

      <span class="page-hero-span"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="ave-md default-btn-white">Schedule a Demo</a></span>
      <!-- <span class="page-hero-span default-btn"><a routerLink="/free-trial" class=" ave-md">Free Trial</a></span> -->


    </div>
</div>

<div class="page-hero-col page-hero-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<img src="{{base}}/assets/solutions/app-bg2.jpg" class="page-hero-img" alt="Solutions">
</div>

</div>
<div class="row">  <div class="section-divider section-divider-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
</div>
</section>

<section id="solutions" class="solutions container">

<div class="row solutions-row">
  <div class="solutions-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="solutions-title-container" class="solutions-title-container">

          <div class="solutions-bg section-title-bg ave-blk">all solutions</div>
          <div class="solutions-title aveNext-bold">Your <span class="color aveNext-bold">most powerful tools</span> in brand building</div>

          <!-- <div class="solutions-title aveNext-bold">Take your <span class="color aveNext-bold">Website Design</span> experience <span class="color aveNext-bold">further</span></div> -->

      </div>

      <!-- <div class="solutions-subtext aveNext-reg align-center">Did you know the layout of your site is as important as the products and services you offer? Modern web frameworks such as Angular, React, and Vue, create scalable code that allows you to grow larger than you could  imagine. Each website, app, and graphic is delivered as an extensible component fit for any device or print canvas.  <span class="schedule-consultation solutions-contact-link"><a class="color ave-md" onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;">Schedule a Consultation</a> and let's get started making your dream a reality!</span></div> -->

      <!-- <div class="solutions-subtext aveNext-reg align-center">You're getting more than a "Web Designer." I understand the world of Digital Marketing and how it relates to the design and layout of your website/app.  <span class="schedule-consultation solutions-contact-link"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="color">Schedule a Free Consultation</a> and let's get started making your dream a reality!</span></div> -->




      <div class="social-flex">
        <span><a href="https://www.facebook.com/thebeardedtek" title="Follow @thebeardedtek on Facebook" target="_blank"><i class="fa fa-facebook"></i></a></span>
        <span><a href="https://www.instagram.com/thebeardedtek/" title="Follow @thebeardedtek on Instagram" target="_blank"><i class="fa fa-instagram"></i></a></span>
        <span><a href="https://www.linkedin.com/company/thebeardedtek" title="Follow @thebeardedtek on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></span>
    </div>


  </div>
</div>
</section>

<section id="responsive-design1" class="responsive-design responsive-design1 container-fluid">
<div class="responsive-design-row row">
  <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<img src="{{base}}/assets/solutions/responsive3.png" class="responsive-design-img" alt="Responsive Design">
</div>
<div class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="solutions-section-pretitle ave-md">---- unlimited everything</div>
    <div class="solutions-section-title ave-hv">Responsive to Any Device</div>
    <div class="solutions-section-subtitle ave-lt">Your website/app is constructed using the most popular, scalable frameworks and libraries in modern development. Development tools include, but are not limited to, the following programming languages: Angular, ReactJS, VueJs jQuery, Boostrap, Swift, and more. You also have the option of adding a Content Management System such as Wordpress, Drupal, Joomla, Magento, Shopify, and more.</div>
    <div class="solutions-section-cta">
      <span class="solutions-section-span"><a routerLink="/portfolio" class="default-btn-color ave-md">View Portfolio</a></span>
    </div>
</div>
</div>
</section>

<!-- <section id="responsive-design2" class="responsive-design responsive-design2 container-fluid">
<div class="responsive-design-row row">
<div id="responsive-design-col-desktop" class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="solutions-section-pretitle ave-md">---- native apps for all</div>
    <div class="solutions-section-title ave-hv">Compatible with iOS and Android</div>
    <div class="solutions-section-subtitle ave-lt">Have a great App idea? Let's make your ideas reality by developing a robust, scalable, secure native application that works on all devices, browsers, and platforms. Your idea is kept secure during the entire development process; you retain all rights.
</div>
    <div class="solutions-section-cta">
      <span class="solutions-section-span"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="default-btn-color ave-md">Schedule a Demo</a></span>
    </div>
</div>
 <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-center">
<img src="{{base}}/assets/solutions/app-screens.png" class="responsive-design-img responsive-design-img2" alt="">
</div>

<div id="responsive-design-col-mobile" class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="solutions-section-pretitle ave-md">---- native apps for all</div>
    <div class="solutions-section-title ave-hv">Compatible with iOS and Android</div>
    <div class="solutions-section-subtitle ave-lt">Have a great App idea? I'll make your ideas reality by developing a robust, scalable, secure native application that works on all devices, browsers, and platforms. Your idea is kept secure during the entire development process; you retain all rights.
</div>
    <div class="solutions-section-cta">
      <span class="solutions-section-span"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="default-btn-color ave-md">Schedule a Demo</a></span>
    </div>
</div>

</div>
</section> -->


<!-- <section id="responsive-design3" class="responsive-design responsive-design3 container-fluid">
<div class="responsive-design-row row">
   <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-center">
<img src="{{base}}/assets/solutions/small-business.jpg" class="responsive-design-img responsive-design-img3" alt="">
</div>
<div class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="solutions-section-pretitle ave-md">---- sell confidently</div>
    <div class="solutions-section-title ave-hv">eCommerce with instant payouts</div>
    <div class="solutions-section-subtitle ave-lt">Unlike traditional bank transfers that can take several days, Instant Payouts are deposited and available in just minutes. This way, marketplaces can give service providers a much better product experience by sending them their earnings faster than ever—and greater flexibility and control over when they get paid. - <a href="https://stripe.com/blog/instant-payouts-for-marketplaces" target="_blank" class="color">Courtesy of Stripe Instant Payments.</a> Ask about other solutions
</div>
    <div class="solutions-section-cta">
      <span class="solutions-section-span"><a routerLink="/portfolio" class="default-btn-color ave-md">View Portfolio</a></span>
    </div>
</div>
</div>
</section> -->






<!-- <section id="solution-blocks-container" class="container-fluid relative">
<div class="row solution-blocks-row">


              <div class="solution-block col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="sol-block-wrapper">
                    <div><span class="sol-block-title">Responsive Web/App Design</span> <span class="solution-icon"><i class="fas fa-mobile-alt color"></i></span></div>
                    <div class="sol-block-blurb">Did you know the layout of your site is as important as the products and services you offer? Modern web frameworks such as Angular, React, and Vue, create scalable code that allows you to grow larger than you could  imagine. Each website, app, and graphic is delivered as an extensible component fit for any device or print canvas.</div>
                </div>
              </div>

              <div class="solution-block col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="sol-block-wrapper">
                    <div><span class="sol-block-title">eCommerce Design/Mgmt</span> <span class="solution-icon"><i class="fas fa-dollar-sign color"></i></span></div>
                    <div class="sol-block-blurb">Feasibility and accessibility are two reasons why businesses succeed or fail. Start selling your products and services today with any one of the most popular eCommerce platforms including Shopify, Magento, Stripe, WooCommerce, and more. Generate sales reports, integrate in-store POS, and manage inventory with a few clicks...<a routerLink="/" class="read-more">Read More</a> </div>
                </div>
              </div>



              <div class="solution-block col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="sol-block-wrapper">
                      <div><span class="sol-block-title">Graphic and Print Design</span> <span class="solution-icon"><i class="fas fa-palette color"></i></span></div>
                      <div class="sol-block-blurb">Nothing beats a custom design tailored to match your business goals and objectives. All graphic work is delivered in a scalable format that makes it possible to use on anything from a business card to a commercial billboard. Creative direction is provided at no cost to you so you can focus on what’s important...your business.</div>
                  </div>
                </div>

                <div class="solution-block col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <div class="sol-block-wrapper">
                      <div><span class="sol-block-title">Search Engine Marketing/SEO</span> <span class="solution-icon"><i class="fas fa-search color"></i></span></div>
                      <div class="sol-block-blurb">Designing your website is 10% of the journey. It's time to start promoting your products and services online by crafting campaigns that cater to your target audience and maximize conversion potential. Leveraging tools such as AdWords and Bing Ads, let's create an experience that they'll be sure to share.</div>
                  </div>
                </div>



                <div class="solution-block col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="sol-block-wrapper">
                        <div><span class="sol-block-title">Content Mangement Systems</span> <span class="solution-icon"><i class="fas fa-code color"></i></span></div>
                        <div class="sol-block-blurb">With every web design project, you will have the option of integrating a Content Management System (CMS) such as Wordpress, Square, Wix, Drupal, Joomla, Magento, Shopify, and more at NO additional charge. With a CMS, you can make small edits, such as changing your phone number, quickly and effortlessly.</div>
                    </div>
                  </div>

                  <div class="solution-block col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="sol-block-wrapper">
                        <div><span class="sol-block-title">Branding &amp; Social Media Mgmt</span> <span class="solution-icon"><i class="fas fa-share-square color"></i></span></div>
                        <div class="sol-block-blurb">Let's discover the stories that make up your brand and share those stories across multiple social media &amp; blogging platforms. After all, people don't buy things, they buy experiences. Leveraging the power of Facebook, Twitter, Instagram, and more, we'll build a strong following that is guaranteed to increase brand awareness.
                          </div>
                    </div>
                  </div>
        </div>

</section> -->

<!-- <div id="app-pricing-widget" class="app-pricing-widget">
  <app-pricing-widget></app-pricing-widget>
</div> -->

