<section id="e404-section" class="e404-section container">
    <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="e404-section-title gray aveNext-bold">OOPS! PAGE NOT FOUND</div>

        <div class="aveNext-demi text-center e404-subtitle">
            Heyyyyy! You're not trying to hack us are you? :-) 
        </div>

        <div class="aveNext-reg text-center pt-40">
            Looks like the page you're seeking doesn't exist. Try starting from the <a routerLink="/">home page</a> or selecting an option from the menu. If you have continued issues accessing parts of the site, please <a routerLink="/contact">contact us</a> for a quick resolution. Thanks for being a valued client/partner!
        </div>
  
        </div>

        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <picture>
                <!-- <source class="e404-img" media="(max-width: 768px)" srcset="{{base}}/assets/portfolio/design/portfolio20-300.webp" type="image/webp" alt="Error Page 404. Please Try Again">
                <source class="e404-img" srcset="{{base}}/assets/portfolio/design/portfolio20-500.webp" type="image/webp" alt="Error Page 404. Please Try Again"> -->
                <img class="e404-img" src="{{base}}/assets/error/e404.jpg" alt="Error Page 404. Please Try Again" />
              </picture>

        </div>
  </div>
  </section>