<div id="app-social" class="app-social"><app-social></app-social></div>

<!-- <section id="page-template-section" class="page-template-section relative container-fluid">
  <article id="page-template-article" class="page-template-article row">
    <div id="page-template-col" class="page-template-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <picture class="page-template-header-img">
        <source srcset="./../../../../assets/ecourses/ecourses.webp" type="image/webp" alt="eCourses">
        <img src="./../../../../assets/ecourses/ecourses.jpg" alt="eCourses" type="image/jpeg">
      </picture>

      <div id="page-template-page-header" class="page-template-page-header">

        <div class="page-header-wrapper">

          <div class="page-header-title aveNext-bold">
          Contact <span class="color aveNext-bold"></span>
          </div>

          <div class="page-header-subtitle aveNext-reg">
          </div>

          <div class="page-header-cta">
            <button class="btn default-btn" routerLink="/pricing">
              <span class="aveNext-reg">Pricing Plans</span>
            </button>

            <button class="btn default-btn-color" routerLink="/demo">
              <span class="aveNext-reg">Schedule Demo</span>
            </button>
          </div>

          <div class="page-header-disclosure aveNext-reg">
          </div>

        </div>

      </div>
    </div>
  </article>
</section>
<div class="section-divider"></div> -->



<section id="app-contact-home-section" class="app-contact-home-section container-fluid relative no-overflow no-padding-left">
  <svg id="contact-home-svg" width="2162" height="700">
    <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
       <stop offset="0%" style="stop-color:rgb(18, 139, 224);stop-opacity:1" />
        <stop offset="100%" style="stop-color:rgb(7, 60, 100);stop-opacity:1" />
      </linearGradient>
    </defs>
    <polygon points="0,0 2162,0 2162,650 0,700" fill="url(#grad1)"></polygon> 
  </svg>

  <svg id="contact-home-svg-bg" width="1300" height="650">
      <line class="animated delayNone fadeInRight duration1" x1="100" y1="100" x2="1300" y2="100" stroke="rgba(77,153,247,.6)"></line>
      <line class="animated delayNone fadeInRight duration1" x1="100" y1="100" x2="100" y2="500" stroke="rgba(77,153,247,.6)"></line>
      <line class="animated delayNone fadeInRight duration1" x1="100" y1="500" x2="350" y2="500" stroke="rgba(77,153,247,.6)"></line>
      <line class="animated delayNone fadeInRight duration1" x1="1300" y1="100" x2="1300" y2="400" stroke="rgba(77,153,247,.6)"></line>
    </svg>
<picture>
  <source class="contact-home-img lazyload" media="(max-width: 450px)" srcset="{{base}}/assets/contact-home/contact-home400.jpg">
  <source class="contact-home-img lazyload" media="(max-width: 1035px)" srcset="{{base}}/assets/contact-home/contact-home800.jpg">
  <img class="contact-home-img lazyload" src="{{base}}/assets/contact-home/contact-home.jpg" alt="Contact Background Image">
</picture>

    <div class="row">
        <article id="app-contact-home" class="app-contact-home"><app-contact-home></app-contact-home></article>
    </div>
</section>
