<section class="relative col col-md-12 col-lg-12">

  <section class="banner-section-wrapper">

<section id="banner-section1" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 1" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section2" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 2" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section3" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 3" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section4" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 4" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>


<section id="banner-section5" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 1" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section6" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 2" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section7" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 3" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section8" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 4" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section9" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 2" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

<section id="banner-section10" class="banner-section">
<ng-container *ngFor="let banner of banners">
<article *ngIf="banner.row === 1" id="" class="banner-block">
  <picture>
  <source class="animated delayNone" id="banner{{banner.id}}-webp" srcset="{{base}}/assets/hero/animate/{{banner.id}}.webp" type="image/webp" alt="Web Design and Mobile Apps">
  <img class="animated delayNone" id="banner{{banner.id}}-jpg" src="{{base}}/assets/hero/animate/{{banner.id}}.jpg" type="image/jpeg" alt="Web Design and Mobile Apps">
</picture>
</article>
</ng-container>
</section>

</section>



<section class="banner-overlay">
</section>



</section>
