<section id="solutions-cta-section" class="solutions-cta-section container">

  <article class="row">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-20">
      <span class="aveNext-demi solutions-cta-header">Core Services</span>
    </div>
  </article>
  <article id="solutions-cta-article" class="solutions-cta-article row">
    <div id="solutions-cta-div1" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 solutions-cta-div">
      <div class="top-icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
      <div class="sol-cta-title">Development</div>
      <div class="sol-cta-blurb">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et</div>
      <div class="sol-cta-link"><a routerLink="/pricing">View All Plans</a></div>
    </div>

    <div id="solutions-cta-div2" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 solutions-cta-div">
      <div class="top-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
      <div class="sol-cta-title">Marketing</div>
      <div class="sol-cta-blurb">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et</div>
      <div class="sol-cta-link"><a routerLink="/marketing">Learn More</a></div>

    </div>

    <div id="solutions-cta-div3" class="col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 solutions-cta-div">
      <div class="top-icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i></div>
      <div class="sol-cta-title">eCommerce</div>
      <div class="sol-cta-blurb">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et</div>
      <div class="sol-cta-link"><a routerLink="/signup">Start Selling Today</a></div>
    </div>

  </article>
</section>
