

<section id="promo-section" class="promo-section container-fluid">

<article id="promo-row" class="row promo-row">

<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-8 ">
    <img class="promo-header-img" src="{{base}}/assets/promo/linkedInBg2.jpg" alt="LinkedIn">

</div>

<div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4 pricing-col desktop-format">

<div class="pricing-container">
  <div style="padding-left:15px;">
    <span>30OFFPROMO</span>
  </div>
  <div>
  <span class="discount-rate aveNext-bold">30%</span>
</div>
<div>
  <span class="discount-tagline aveNext-bold">off all packages + domain</span>
</div>
</div>

<div class="branding-message">
<span>Optimize</span>
<span>your</span>
<span>results.</span>
</div>

<div class="brand">
  <span>the<span class="aveNext-bold">bearded</span>tek</span>
</div>

<div class="branding-link">
  <span>thebeardedtek.com</span>
</div>


</div>
</article>

</section>

<section id="promo-how-to" class="desktop-format promo-how-to container-fluid">

  <article class="row">
    <div class="col col-lg-9">
      <div class="aveNext-bold how-to-title">Offer Redeption</div>
      <div>Schedule a consultation and enter promo code 30OFFPROMO</div>
      <div><a routerLink="/terms">View promo terms and conditions</a></div>
    </div>

  <div class="col col-lg-3">
    <button class="ave-md default-btn-color">
      <a routerLink="/demo">Click To Redeem Promo</a>
    </button>
  </div>

  </article>

</section>

<section class="promo-section promo-section-mobile mobile-format container-fluid">
  <article class="row promo-row promo-row-mobile">
  <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 pricing-col">
<div class="pricing-container">
  <div>
  <span class="discount-rate aveNext-bold">30% off</span>
</div>
<div>
  <span class="discount-tagline aveNext-bold">all packages + domain</span>
</div>
</div>



</div>

<div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4">
<button class="ave-md default-btn-yellow-clear">
      <a routerLink="/demo">Click To Redeem Promo</a>
    </button>
</div>
</article>
</section>

<div class="section-divider"></div>

<section id="app-design-section" class="app-design-section container-fluid">
    <div class="row">
        <article id="app-design" class="app-design"><app-design></app-design></article>
    </div>
</section>



    <div class="section-divider"></div>

<section id="app-portfolio-cta-section" class="app-portfolio-cta-section container-fluid">
    <div class="row">
        <article id="app-portfolio-cta" class="app-portfolio-cta"><!--<app-portfolio-cta></app-portfolio-cta>--></article>
    </div>
</section>


<div class="section-divider"></div>


<section id="app-security-cta-section" class="app-security-cta-section container-fluid home-security">
    <div class="row">
        <article id="app-security-cta" class="app-security-cta"><app-security-cta></app-security-cta></article>
    </div>
</section>


<div class="section-divider"></div>

<section id="app-portfolio-section" class="app-portfolio-section container-fluid">
    <div class="row">
        <article id="app-portfolio" class="app-portfolio"><app-portfolio></app-portfolio></article>
    </div>
</section>

<div class="section-divider"></div>

<section id="app-pricing-section" class="app-pricing-section container-fluid">
    <div class="row">
        <article id="app-pricing" class="app-pricing"><app-pricing-widget></app-pricing-widget></article>
    </div>
</section>
