<!-- <section id="maintenance-widget-header" class="maintenance-widget-header">

<div id="maintenance-widget-title" class="maintenance-widget-header-title">Maintenance Plans</div>

</section>

<section id="maintenance-widget" class="maintenance-widget container">

<div class="row maintenance-row-hp text-center">
    <div *ngFor="let plan of sortedPricing" class="maintenance-block maintenance-block1 col col-xs-12 col-sm-12 col-md-12 col-lg-4 maintenance-border-hp">
    <p class="maintenance-title">{{plan.paymentPlan}}</p>
    <p class="maintenance-number"><sup>{{plan.currencySymbol}}</sup>{{plan.planPrice}}<span class="per-mo">/mo</span></p>
    <p class="maintenance-term">{{plan.packageName}}: <span class="maintenance-term-desc">{{plan.packageSubtitle}}</span></p>
    <div class="maintenance-includes"><ul class="text-left">
    <li *ngFor="let feature of plan.features"><i class="{{plan.fontAwesome}}"></i> <span> {{feature}}</span></li>

    <div class="signup-btn"><a routerLink="/demo" routerLinkActive="activeRouterLink" class="color default-btn-color ave-md">Get Started</a></div>

    </ul>
    </div>
    </div>
</div>

</section> -->





<section id="maintenance-widget-header" class="maintenance-widget-header">

<div id="maintenance-widget-title" class="maintenance-widget-header-title">Maintenance Plans</div>
</section>




<section id="maintenance-widget" class="maintenance-widget container">
<div class="row maintenance-row-hp text-center">
<div class="maintenance-block maintenance-block1 col col-xs-12 col-sm-12 col-md-12 col-lg-4 maintenance-border-hp">

<p class="maintenance-title">monthly</p>
<p class="maintenance-number"><sup>$</sup>49</p>

<p class="maintenance-term">Standard Pkg: <span class="maintenance-term-desc">stay up and running</span></p>

<div class="maintenance-includes"><ul class="text-left">
<li><i class="fa fa-check"></i> Automatic Updates</li>
<li><i class="fa fa-check"></i> Domain Privacy</li>
<li><i class="fa fa-check"></i> SSL Renewals</li>
<li><i class="fa fa-check"></i> Premium DNS</li>
<li><i class="fa fa-check"></i> Security Scans</li>
</ul></div>

<div class="signup-btn"><a routerLink="/demo" routerLinkActive="activeRouterLink" class="color default-btn-color ave-md">Get Started</a></div>
</div>

<div class="maintenance-block maintenance-block2 col col-xs-12 col-sm-12 col-md-12 col-lg-4 maintenance-border-hp">

<p class="maintenance-title">monthly</p>
<p class="maintenance-number"><sup>$</sup>299</p>
<p class="maintenance-term">Full Service Pkg: <span class="maintenance-term-desc">all features</span></p>

<div class="maintenance-includes"><ul class="text-left">
<li><i class="fa fa-check"></i> Market Analysis</li>
<li><i class="fa fa-check"></i> Unlimited Graphics</li>
<li><i class="fa fa-check"></i> Unlimited Revisions</li>
<li><i class="fa fa-check"></i> Unimited Posts/Blogs</li>
<li><i class="fa fa-check"></i> All Standard Features</li>
</ul></div>

<div class="signup-btn"><a routerLink="/demo" routerLinkActive="activeRouterLink" class="color default-btn-color ave-md">Get Started</a></div>
</div>


<div class="maintenance-block maintenance-block3 col col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center monthly-maintenance">
<p class="maintenance-title">monthly</p>
<p class="maintenance-number"><sup>$</sup>499</p>
<p class="maintenance-term">VIP Pkg: <span class="maintenance-term-desc">international audience</span></p>

<div class="maintenance-includes"><ul class="text-left">
<li><i class="fa fa-check"></i> 24/7 Support</li>
<li><i class="fa fa-check"></i> Performance Reporting</li>
<li><i class="fa fa-check"></i> Product Testing</li>
<li><i class="fa fa-check"></i> App Updates</li>
<li><i class="fa fa-check"></i> All Full Service Features</li>
</ul></div>

<div class="signup-btn"><a routerLink="/demo" routerLinkActive="activeRouterLink" class="default-btn-color ave-md">Get Started</a></div>
</div>
</div>
</section>






