<!--

<section id="page-hero-section" class="page-hero-section container-fluid">
  <div class="page-hero-row row">
  <div class="page-hero-col page-hero-left col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

</div>

<div class="page-hero-col page-hero-right col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
<img src="{{base}}/assets/solutions/app-bg.jpg" class="page-hero-img" alt="">
</div>

  <div class="section-divider section-divider-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
</div>
</section> -->
