<section id="client-logos-section" class="client-logos-section container-fluid">
  <article id="client-logos-article" class="client-logos-article row">
    <div id="client-logos-div" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 client-logos-div">
      <picture>
        <source srcset="./../../../../assets/client-logos/att.webp" type="image/webp">
        <img id="" class="" src="./../../../../assets/client-logos/att.jpg" alt="" type="image/jpeg">
      </picture>

      <picture>
        <source srcset="./../../../../assets/client-logos/leaseplan.webp" type="image/webp">
        <img id="" class="" src="./../../../../assets/client-logos/leaseplan.jpg" alt="" type="image/jpeg">
      </picture>

      <picture>
        <source srcset="./../../../../assets/client-logos/gfcu.webp" type="image/webp">
        <img id="" class="" src="./../../../../assets/client-logos/gfcu.jpg" alt="" type="image/jpeg">
      </picture>

      <picture>
        <source srcset="./../../../../assets/client-logos/evos.webp" type="image/webp">
        <img id="" class="" src="./../../../../assets/client-logos/evos.jpg" alt="" type="image/jpeg">
      </picture>

      <picture>
        <source srcset="./../../../../assets/client-logos/comcast.webp" type="image/webp">
        <img id="" class="" src="./../../../../assets/client-logos/comcast.jpg" alt="" type="image/jpeg">
      </picture>

    </div>
  </article>
</section>
