<section id="contact-home-section" class="container contact-home-section">

<article id="contact-home-row" class="contact-home-row row">

<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 contact-home-col">

</div>

<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 contact-home-col contact-home-col-form relative">

<div id="contact-form-subtitle"><span class="contact-form-subtitle ave-ul">Don't delay! Get Started Now.</span></div>
<div id="contact-form-title"><span class="contact-form-title color ave-blk">Contact an Expert</span></div>


<div id="contact-form-blurb"><span class="contact-form-blurb">I love helping companies like yours. No sales pitches, just sound advice. Talk directly to thebeardedtek and know that you're in great hands. Digital marketing is a remarkably powerful strategy, I'd love to share my insights with you.</span></div>
<div><app-contact-widget></app-contact-widget></div>
</div>

<div class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 contact-home-col">
</div>
</article>
</section>
