<div id="app-social" class="app-social"><app-social></app-social></div>

<section id="page-template-section" class="page-template-section relative container-fluid">
  <article id="page-template-article" class="page-template-article row">
    <div id="page-template-col" class="page-template-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <picture class="page-template-header-img">
        <source srcset="./../../../../assets/syllabus/syllabus.webp" type="image/webp" alt="Syllabus">
        <img src="./../../../../assets/syllabus/syllabus.jpg" alt="Syllabus">
      </picture>

      <div id="page-template-page-header" class="page-template-page-header">

        <div class="page-header-wrapper">

          <div class="page-header-title aveNext-bold">
          Course <span class="color aveNext-bold">Syllabus</span>
          </div>

          <div class="page-header-subtitle aveNext-reg">
            Download and View <span class="color aveNext-bold">What's Coming Up</span>
          </div>

          <div class="page-header-cta">
            <button class="btn default-btn" routerLink="/getting-started">
              <span class="aveNext-reg">Start Learning</span>
            </button>

            <button class="btn default-btn-color" routerLink="/ecourses">
              <span class="aveNext-reg">View All Courses</span>
            </button>
          </div>

          <div class="page-header-disclosure aveNext-reg">
            *Intermediate and Advanced courses offered at low cost
          </div>

        </div>

      </div>
    </div>
  </article>
</section>
<div class="section-divider"></div>



<section id="page-template-content-section" class="page-template-content-section container-fluid">

<article id="page-template-content-row" class="page-template-content-row row">

<!-- BEGINS THE LEFT ASIDE -->
<aside id="page-template-body-aside" class="page-template-body-aside col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <!--<app-main-sidebar class="hide-on-mobile"></app-main-sidebar>-->
    <app-courses-sidebar class="hide-on-mobile"></app-courses-sidebar>
</aside>
<!-- ENDS THE LEFT ASIDE -->


<!-- BEGINS THE RIGHT MAIN BODY -->
<div id="page-template-body-main" class="page-template-body-main col col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">



<section id="page-template-body-header" class="page-template-body-header container-fluid">
  <article class="row">
  <div id="page-template-title-col" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 page-template-title-col">
    <span class="page-template-body-title aveNext-demi">Click To <span class="color aveNext-demi">Download</span></span>
  </div>
</article>
</section>

<section id="page-body-section" class="page-body-section container-fluid">
  <article id="page-body-article" class="page-body-article row">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="header-subtitle aveNext-reg syllabus">
      <details>
        <summary>
          <span class="gray">October 2019 - (Beginner)</span>
        </summary>
        <small><a href="#" class="color">Register</a></small>
        <small><a href="#" class="color">View Profile</a></small>
        <small><a href="#" class="color">Contact Admin</a></small>
      </details>
      <details>
        <summary>
          <span class="gray">November 2019 - (Beginner)</span>
        </summary>
        <small><a href="#" class="color">Register</a></small>
        <small><a href="#" class="color">View Profile</a></small>
        <small><a href="#" class="color">Contact Admin</a></small>
      </details>


      <details>
        <summary>
          <span class="gray">February 2020 - (Beginner)</span>
        </summary>
        <small><a href="#" class="color">Register</a></small>
        <small><a href="#" class="color">View Profile</a></small>
        <small><a href="#" class="color">Contact Admin</a></small>
      </details>

      <details>
        <summary>
          <span class="gray">March 2020 - (Beginner)</span>
        </summary>
        <small><a href="#" class="color">Register</a></small>
        <small><a href="#" class="color">View Profile</a></small>
        <small><a href="#" class="color">Contact Admin</a></small>
      </details>


      <details>
        <summary>
          <span class="gray">May 2020 - (Beginner)</span>
        </summary>
        <small><a href="#" class="color">Register</a></small>
        <small><a href="#" class="color">View Profile</a></small>
        <small><a href="#" class="color">Contact Admin</a></small>
      </details>

      <details>
        <summary>
          <span class="gray">September 2020 - (Beginner)</span>
        </summary>
        <small><a href="#" class="color">Register</a></small>
        <small><a href="#" class="color">View Profile</a></small>
        <small><a href="#" class="color">Contact Admin</a></small>
      </details>


      <details>
        <summary>
          <span class="gray">October 2020 - (Beginner)</span>
        </summary>
        <small><a href="#" class="color">Register</a></small>
        <small><a href="#" class="color">View Profile</a></small>
        <small><a href="#" class="color">Contact Admin</a></small>
      </details>


    </div>
  </div>
  </article>
</section>

</div>
<!-- THIS ENDS THE RIGHT MAIN BODY -->
</article>

</section>
