<div id="app-social" class="app-social"><app-social></app-social></div>

<app-page-header></app-page-header>

<!-- <section id="page-template-section" class="page-template-section relative container-fluid">
  <article id="page-template-article" class="page-template-article row">
    <div id="page-template-col" class="page-template-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <picture class="page-template-header-img">
        <source srcset="./../../../../assets/mobile-apps/mobile-apps.webp" type="webp" alt="Mobile Apps">
        <img src="./../../../../assets/mobile-apps/mobile-apps.jpg" alt="Mobile Apps">
      </picture>

      <div id="page-template-page-header" class="page-template-page-header">

        <div class="page-header-wrapper">

          <div class="page-header-title aveNext-bold">
          iOS + Android <span class="color aveNext-bold">Mobile Apps</span>
          </div>

          <div class="page-header-subtitle aveNext-reg">
            Have a great app idea and need help getting it to the market?
          </div>

          <div class="page-header-cta">
            <button class="btn default-btn" routerLink="/demo">
              <span class="aveNext-reg">Schedule a Demo</span>
            </button>

            <button class="btn default-btn-color" routerLink="/portfolio">
              <span class="aveNext-reg">View Portfolio</span>
            </button>
          </div>

          <div class="page-header-disclosure aveNext-reg">
            *apps available for iOS and Android
          </div>

        </div>

      </div>
    </div>
  </article>
</section>
<div class="section-divider"></div> -->

<section id="page-body" class="page-body container pt-80">

<div class="row page-body-row">
  <div class="page-body-col col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="page-body-title-container" class="page-body-title-container">

          <div class="page-body-title aveNext-bold">Build an <span class="color aveNext-bold">amazing</span> mobile app!</div>
      </div>

      <div class="social-flex">
        <span><a href="https://www.facebook.com/thebeardedtek" target="_blank"><i class="fa fa-facebook"></i></a></span>
        <span><a href="https://www.instagram.com/thebeardedtek/" target="_blank"><i class="fa fa-instagram"></i></a></span>
        <span><a href="https://www.linkedin.com/company/thebeardedtek" target="_blank"><i class="fa fa-linkedin"></i></a></span>
        <span><a href="https://twitter.com/thebeardedtek" target="_blank"><i class="fa fa-twitter"></i></a></span>
    </div>


  </div>
</div>
</section>

<section id="responsive-design1" class="responsive-design responsive-design1 container-fluid">
<div class="responsive-design-row row">
  <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">


<picture>
  <source srcset="{{base}}/assets/solutions/ios-popup.webp" type="image/webp" class="responsive-design-img" alt="iOS">
  <img src="{{base}}/assets/solutions/ios-popup.png" type="image/jpeg" class="responsive-design-img" alt="iOS">
</picture>

<!-- <img src="{{base}}/assets/solutions/ios-popup.png" type="image/jpeg" class="responsive-design-img" alt="iOS"> -->
</div>
<div class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- unlimited everything</div>
    <div class="page-body-section-title aveNext-bold">Responsive to Any Device</div>
    <div class="page-body-section-subtitle ave-lt">Your app is carefully crafted to look awesome on any device regardless of the brand or operating system. Stay up to date with each release of a new device with our Device Integration Guarantee. </div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a routerLink="/signup" class="default-btn-color ave-md">Signup Now</a></span>
    </div>
</div>
</div>
</section>

<section id="responsive-design2" class="responsive-design responsive-design2 container-fluid">
<div class="responsive-design-row row">
<div id="responsive-design-col-desktop" class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- native apps for all</div>
    <div class="page-body-section-title aveNext-bold">Compatible with iOS and Android</div>
    <div class="page-body-section-subtitle ave-lt">Apps come in several flavors including the most popular iOS and Android. You have the option of building for a specific platform or a combination of platforms. We're also forward thinking in making sure your current app will be compatible with Google's new Fuschia operating system.</div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="default-btn-color ave-md">Schedule a Demo</a></span>
    </div>
</div>
 <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-center">

<picture>
  <source srcset="{{base}}/assets/solutions/android-ios.webp" type="image/webp" class="responsive-design-img responsive-design-img2 lazyload" alt="Android">
  <img src="{{base}}/assets/solutions/android-ios.jpg" type="image/jpeg" class="responsive-design-img responsive-design-img2 lazyload" alt="Android">
</picture>

<!--
<img src="{{base}}/assets/solutions/android-ios.jpg" class="responsive-design-img responsive-design-img2 lazyload" alt="Android"> -->
</div>

<div id="responsive-design-col-mobile" class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- native apps for all</div>
    <div class="page-body-section-title aveNext-bold">Compatible with iOS and Android</div>
    <div class="page-body-section-subtitle ave-lt">Apps come in several flavors including the most popular iOS and Android. You have the option of building for a specific platform or a combination of platforms. We're also forward thinking in making sure your current app will be compatible with Google's new Fuschia operating system.</div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a onclick="Calendly.showPopupWidget('https://calendly.com/thebeardedtek/30min');return false;" class="default-btn-color ave-md">Schedule a Demo</a></span>
    </div>
</div>

</div>
</section>


<section id="responsive-design3" class="responsive-design responsive-design3 container-fluid">
<div class="responsive-design-row row">
   <div class="responsive-design-col responsive-design-col-left col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 align-center">

<picture>
  <source srcset="{{base}}/assets/solutions/small-business.webp" type="image/webp" class="responsive-design-img responsive-design-img3 img-shadow" alt="Small Business">
  <img src="{{base}}/assets/solutions/small-business.jpg" type="image/jpeg" class="responsive-design-img responsive-design-img3 img-shadow" alt="Small Business">
</picture>
</div>
<div class="responsive-design-col responsive-design-col-right col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
<div class="page-body-section-pretitle ave-md">---- sell confidently</div>
    <div class="page-body-section-title aveNext-bold">eCommerce with instant payouts</div>
    <div class="page-body-section-subtitle ave-lt">Unlike traditional bank transfers that can take several days, Instant Payouts are deposited and available in just minutes. This way, marketplaces can give service providers a much better product experience by sending them their earnings faster than ever—and greater flexibility and control over when they get paid. - <a href="https://stripe.com/blog/instant-payouts-for-marketplaces" target="_blank" class="color">Courtesy of Stripe Instant Payments.</a> Ask about other solutions.
</div>
    <div class="page-body-section-cta">
      <span class="page-body-section-span"><a routerLink="/portfolio" class="default-btn-color ave-md">View Portfolio</a></span>
    </div>
</div>
</div>
</section>



<app-pricing-widget></app-pricing-widget>
